* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  font-family: Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

h1 {
  font-size: 5rem;
  color: rgb(88, 34, 88);
  margin: 5rem auto;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.interface {
  text-align: center;
  border: 1px solid rgb(88, 34, 88);
  border-radius: 16px;
  padding: 1rem auto;
  width: 30rem;
  height: 30rem;
  margin-top: 1rem;
  padding-top: 2rem;
}

.input,
.btn {
  margin: 2rem auto;
}

.input {
  font-size: 2rem;
}

.btn {
  background-color: rgb(219, 113, 219);
  color: white;
  outline: none;
  font-size: 1.8rem;
  width: 15rem;
  height: 5rem;
  border: 2px solid rgb(88, 34, 88);
  border-radius: 5px;
}

.btn:hover {
  background: transparent;
  color: black;
  transition: all 0.5s ease;
}

#role,
#age {
  width: 19rem;
  height: 4rem;
  outline: none;
  font-size: 1.5rem;
  border-radius: 5px;
}

#message {
  display: block;
  padding: 1rem;
  font-size: 1.6rem;
}

.admin {
  color: green;
  font-weight: bold;
}

.member {
  color: blue;
  font-weight: bold;
}

.guest {
  color: orange;
  font-weight: bold;
}

.denied {
  color: red;
  font-weight: bold;
}

/* Mobile styles (for screens smaller than 768px) */
@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
    text-align: center;
  }

  .interface {
    text-align: center;
    border: 1px solid rgb(88, 34, 88);
    border-radius: 16px;
    padding: 1rem auto;
    width: 30rem;
    height: 35rem;
    margin-top: 1rem;
    padding-top: 2rem;
  }

  .input {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #role,
  #age {
    width: 70%;
    max-width: 400px;
    height: 4rem;
    outline: none;
    font-size: 1.6rem;
    text-align: center;
  }

  #message {
    display: block;
    padding: 1rem;
    text-align: center;
  }

  .btn {
    margin-top: 2rem;
    background-color: rgb(219, 113, 219);
    color: white;
    outline: none;
    cursor: pointer;
    font-size: 1.6rem;
    width: 25rem;
    max-width: 150px;
    height: 4rem;
    border: 2px solid rgb(88, 34, 88);
    border-radius: 2px;
  }

  .admin {
    color: green;
    font-weight: bold;
  }

  .member {
    color: blue;
    font-weight: bold;
  }

  .guest {
    color: orange;
    font-weight: bold;
  }

  .denied {
    color: red;
    font-weight: bold;
  }
}
